{% extends "basic.html" %}
{% load static %}


{% block title %} Shubham Garg's Resume {% endblock title %}

{% block body %}
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Below is a summary of my educational background, work experience, and research publications.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <div class="resume-section education-section">
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Master of Science, Computer Science</h4>
                        <h5>August 2023 - May 2025</h5>
                        <p><em>New York University, NY</em></p>
                        <p>GPA of 3.833/4 (A)</p>
                    </div>
                    <div class="resume-item">
                        <h4>Bachelor of Technology, Computer Science and Engineering</h4>
                        <h5>July 2019 – June 2023</h5>
                        <p><em>Amity University, Amity School of Engineering and Technology, Noida</em></p>
                        <p>Graduated with a GPA of 9.05/10 (A)</p>
                    </div>
                </div>

                <div class="resume-section research-section">
                    <h3 class="resume-title">Research Publications</h3>
                    <div class="resume-item">
                        <h4>Yoga Pose Classification</h4>
                    </div>
                    <div class="resume-item">
                        <h4>A vision transformer-based approach for the detection of brain tumor</h4>
                    </div>
                    <div class="resume-item">
                        <h4>Aerial Image Segmentation</h4>
                    </div>
                    <div class="resume-item">
                        <h4>Comparative Performance of Deep Learning architectures in Lower-Grade Glioma Segmentation</h4>
                    </div>
                    <div class="resume-item">
                        <h4>A Hybrid Multi-stage Network for Lung Disease Classification and Severity Localization from X-ray Images</h4>
                    </div>
                    <div class="resume-item">
                        <h4>Emotion Recognition in Speech by Multimodal Analysis of Audio and Text</h4>
                    </div>
                </div>

                <div class="resume-section certifications-section">
                    <h3 class="resume-title">Certifications & Extra-Curricular Activities</h3>
                    <div class="resume-item">
                        <h4>AWS Certified Cloud Practitioner</h4>
                        <h5>2021</h5>
                    </div>
                    <div class="resume-item">
                        <h4>Microsoft Certified: Azure AI Fundamentals</h4>
                        <h5>2021</h5>
                    </div>
                    <div class="resume-item">
                        <h4>HackerRank Gold Badge Python Programmer</h4>
                        <h5>2022</h5>
                    </div>
                    <div class="resume-item">
                        <h4>Amity ACM Student Chapter, President</h4>
                        <h5>2021 - 2023</h5>
                    </div>
                    <div class="resume-item">
                        <h4>Entrepreneurship Cell Club, ASET, President</h4>
                        <h5>2021 – 2023</h5>
                    </div>
                    <div class="resume-item">
                        <h4>Smart India Hackathon, University Finalist</h4>
                        <h5>2023</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="resume-section experience-section">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Student Intern</h4>
                        <h5>January 2023 – July 2023</h5>
                        <p><em>Saxo Bank, Gurgaon</em></p>
                        <ul>
                            <li>Deployed over 20 REST endpoints using Dotnet framework and SQL stored procedures for Investment bank applications.</li>
                            <li>Led a team of 4 interns to develop a Proof-of-Concept Data Science application for the company.</li>
                            <li>Developed a decision-making application to aid company clients using data science & analytics and statistics.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Research Student Intern</h4>
                        <h5>July 2022 – July 2023</h5>
                        <p><em>University of Essex, United Kingdom, Remote</em></p>
                        <ul>
                            <li>Employed advanced computer vision, body tracking and NLP algorithms under Dr. Katerina Bourazeri on 2 distinct projects.</li>
                            <li>Created LUNA1, a chatbot for detecting and diagnosing mental health conditions using cutting-edge algorithmic techniques.</li>
                            <li>Translated the projects into two research papers and preparing for the publication of the third.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Computer Vision Research Intern</h4>
                        <h5>July 2022 – January 2023</h5>
                        <p><em>Indian Institute of Technology, IIT Patna</em></p>
                        <ul>
                            <li>Conducted 3 research projects under Dr. Sriparna Saha in bio-medical image analysis, segmentation, and severity localization.</li>
                            <li>Utilized modified vision transformers, U-nets, and attention networks to achieve significant advancements in the field.</li>
                            <li>Researched technologies like federated learning, meta-learning, and few-shot learning using Siamese Networks.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Computer Vision Software Engineering Intern</h4>
                        <h5>August 2021 – March 2023</h5>
                        <p><em>Deep Sight AI Labs, Gurugram India</em></p>
                        <ul>
                            <li>Involved in entry-exit & loitering features for surveillance using algorithms like Deep Sort, Kalman Filter, and YOLOv5.</li>
                            <li>Optimized company code by converting Tensorﬂow to Tensorﬂow light with 20% improved performance on Raspberry Pi.</li>
                            <li>Managed the company’s computer vision workload and database on AWS and Microsoft Azure and automated 10+ tasks.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->



<style>
  .resume-section {
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 8px;
  }
  .education-section {
      background-color: #f0f8ff; /* Alice Blue */
      border-left: 5px solid #007bff;
  }
  .research-section {
      background-color: #e6f7ff; /* Light Blue */
      border-left: 5px solid #17a2b8;
  }
  .experience-section {
      background-color: #eafaf1; /* Light Green */
      border-left: 5px solid #28a745;
  }
  .certifications-section {
      background-color: #F7DDEC; /* Light Orange */
      border-left: 5px solid #E72497;
  }
  .resume-item {
      margin-bottom: 15px;
  }
  .resume-title {
      color: #343a40;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 15px;
  }
  .resume-item h4 {
      font-size: 1.2rem;
      color: #495057;
  }
  .resume-item h5 {
      font-size: 1rem;
      color: #6c757d;
  }
  .resume-item p {
      font-size: 0.9rem;
      color: #6c757d;
  }
  .resume-item ul {
      list-style-type: disc;
      margin-left: 20px;
  }
  .resume-item ul li {
      margin-bottom: 5px;
      font-size: 0.9rem;
      color: #495057;
  }
</style>

{% endblock body %}
